$enable-gradients: true;
$enable-shadows: true;
$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
$border-radius: .4rem;
$primary: #1b063b;
$font-family-base: 'Courier New', Courier, monospace !default;

@import "bootstrap/scss/bootstrap";

body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, #002e3e 0%, #fbe4bf 100%);
    background: -webkit-linear-gradient(top, #002e3e 0%, #fbe4bf 100%);
    background: linear-gradient(to bottom, #002e3e 0%, #fbe4bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002e3e', endColorstr='#fbe4bf', GradientType=0);
}


img  { 
    image-rendering: optimizeQuality;  
    -ms-interpolation-mode: bicubic;  
    max-width: 100%; 
}     
    

.apresenta {
    width: 58%;
    height: 58vh;
    margin: 0px auto 40px auto;
    padding-bottom: 40px;
    display: block;
    background: #fefefede;
    animation: portifa 3s linear;
    animation-timeline: view();
    h1 {
        text-indent: -90000px;
        display: block;
        max-width: 375px;
        height: 333px;
        margin: 0 auto;
        background: url('../tauk-design.png') no-repeat scroll 0 0 transparent;
        border-radius: $border-radius;
        will-change: filter;
        transition: filter 900ms;
        filter: drop-shadow(0 0 2em rgba(181, 234, 248, 0.67)); 
        &:hover {
            opacity: 0.85;
            filter: drop-shadow(0 0 2em rgba(2, 2, 39, 0.67));
        }
    }
}


#works{

    h4{
        max-width: 250px;
        position: relative;
        top: 60px;
        height: 1px;
        z-index: -1;
        margin: 30px;
        font-size: .89rem;
        font-weight: 400;
        color: $light;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        }
    img{
        z-index:2;
        border-width: 4px;
        border-color:  #cfe2de;
        border-style: dashed;
        opacity: 0.25;
        filter: sepia(50%) hue-rotate(20deg) saturate(10%);
        margin: 4px;
        border-radius: $border-radius;
        &:hover{
            z-index:0;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            filter: sepia(0) hue-rotate(0deg) saturate(100%);
            opacity: 1;
            }
        }
    hr {
        background: url('../image/linha.png') repeat scroll 0 0 transparent;
        border: none;
        clear: left;
        display: block;
        height: 8px;
        margin: 0 0 20px 18px;
    }
}
      
#topo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin: 40px auto;
    opacity: 0;
    animation: elemvisu ease-in-out;
    animation-timeline: scroll();
}

.fechar {
    img {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: block;
        margin: 40px auto;
        width: 50px;
        height: 50px;

        opacity:0;
        animation: elemvisu ease-in-out;
        animation-timeline: scroll();
    }
}

.swiper{
    h4, p{
        color: $white;
    }
}
.swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-slide-thumb-active{
    img{
        filter: sepia(0) hue-rotate(0deg) saturate(100%) !important;
        opacity: 1 !important;
    }
  }

.contact-infos {
    a {
        display: block;
        transition: all ease-in-out .2s;
        opacity: .7;
        
        &:hover {
            transform: scale(1.473);
            transition: all ease-in-out .2s;
            opacity: 1;
        }
    }
}

@include media-breakpoint-down(md) {
    .apresenta {width: 100%;}
    .box {
        width: 100%;
        height: 50vh;
        border-radius: 5px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }
}
.scroller {
    height: 8px;
    position: fixed;
    top: 0%;
    z-index: 100;
    background-color:#4e758d;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    animation: scroller linear;
    animation-timeline: scroll();
}
.box {
    width: 100%;
    height: 50vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    opacity: 0;
    animation-range-start: cover;
    animation-range-end: cover;
    animation-range: exit 0% exit 100%;
    animation: reveal ease-in-out;
    animation-timeline: view();

  }
  .box h2 {
    font-size: 4.3rem;
    color: #e0ffff;
  }
  .box p {
    text-align: center;
    display: block;
    width: 50%;
    margin: 20px;
    font-size: 1.473em;
    color: #e0ffff;
    font-weight: bold;
  }
.box-3{
    height: 55vh;
    opacity: .2;
    animation-range-start: contain;
    animation-range-end: cover;
    animation-range: entry 100% exit 100%;
    animation: fromleft;
    animation-timeline: view();
  }
  

@media (prefers-reduced-motion: no-preference) {
    .apresenta h1 {
        &:hover {
            animation: logo-spin infinite 3s;
        }
    }
}

@keyframes logo-spin {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.234) translateY(0);
        opacity: .1234;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes portifa {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeimg {
    0% {
        transform: scale(1.1);
        opacity: .5;
    }
    7%{
        transform: scale(1);
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    85%{
        transform: scale(1) translateY(0);
        opacity: .7;
    }
    100% {
        transform: scale(.8) translateY(20%);
        opacity: 0;
    }
}

@keyframes fromleft {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    60% {
        transform: scale(1) translateY(0);
        opacity: 0.8;

    }
    65% {
        transform: scale(1) translateY(0);
        opacity: .6;
    }
    100%{
        transform: scale(1) translateY(100%);
        opacity: 0;
    }
}

@keyframes reveal {
    0% {
        transform: scale(1) translateY(100%);
        opacity: 1;
    }
    50% {
        transform: scale(90%) translateY(0);
        opacity: 0.9;

    }
    100% {
        transform: scale(1) translateY(100%);
        opacity: 0;
    }
}


@keyframes scroller {
    to {
        transform: scale(1, 1);
    }
}

  @keyframes elemvisu {
    0% {
        transform: scale(0.7) translateY(0);
        opacity: 0;
    }
    15%{
        opacity: 1;
        transform: scale(1)
    }
    100% {
        transform: scale(.9) translateY(100%);
        opacity: 1;
    }
}

@media only screen and (max-width : 768px){
    #works {
        img{
        border:solid 4px #cfe2de;
        opacity: 1;
        margin-bottom: 40px;
        width: 80%;
        -webkit-filter: sepia(0) hue-rotate(0deg) saturate(100%);
        filter: sepia(0) hue-rotate(0deg) saturate(100%);
        }
    }
}